.toast-mensaje-centro {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #28a745;
  color: white;
  padding: 15px 30px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  z-index: 999999 !important;   /* ⬅⬅⬅ SUBIDO AL MÁXIMO */
  opacity: 0.97;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translate(-50%, -40%); }
  10% { opacity: 1; transform: translate(-50%, -50%); }
  90% { opacity: 1; transform: translate(-50%, -50%); }
  100% { opacity: 0; transform: translate(-50%, -60%); }
}
